

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;

    font-size: 1.6em;
    text-align: center;

    background-color: rgba(3, 7, 214, 0.661);
}

.navBar a{
    color: black;
    text-decoration: none;
}

.leftBar, .middleBar, .rightBar{
    display: flex;
    align-items: center;

    gap: 15px;
}